.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #162c8b; /* Base background color */
  color: #fff;
  text-align: center;
  font-family: "Arial", sans-serif; /* Ensures modern font */
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2); /* Adds shadow above footer */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.footer:hover {
  background-color: #2a2a2a; /* Slightly darker background on hover */
  animation: slideIn 0.5s ease; /* Smooth animation on hover */
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  justify-content: center; /* Distribute content with space between */
}

.footer-text {
  font-size: 1rem;
  opacity: 0.8; /* Slightly transparent text */
  transition: opacity 0.3s ease; /* Smooth opacity transition */
}

.footer-text:hover {
  opacity: 1; /* Full opacity on hover */
}

.footer-background {
  background: linear-gradient(
    45deg,
    #6e8efb,
    #a777e3
  ); /* Technology-inspired gradient */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Places the gradient behind content */
  opacity: 0.3; /* Light opacity for background effect */
  animation: gradientMotion 4s linear infinite; /* Continuous gradient motion animation */
}
